<!-- Register-->
    <header class="logreg-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-6 center-block">

                        <form class="register-form" name="registerForm" ng-submit="vm.register" autocomplete="off" novalidate>
                            <h3>Zarejestruj się</h3>

                            <!-- LOGIN-->
                            <div class="input-wrapper">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="login" ng-model="vm.user.login"  ng-model-options="{updateOn: 'blur'}"  ng-minlength="5" ng-maxlength="20" ng-pattern="vm.loginRegExr" ng-trim="false" placeholder="Twój login" login-validation  required>
                                    <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                                </div><!-- /.input-group-->

                                <span class="error-text" ng-show="registerForm.login.$error.required && registerForm.login.$touched"> To pole nie może być puste</span>
                                <span class="error-text" ng-show="registerForm.login.$error.maxlength">Podany login jest za długi, maxymalna ilość znaków to 15</span>
                                <span class="error-text" ng-show="registerForm.login.$error.minlength">Podany login jest za krótki, minimalna ilość znaków to 5</span>
                                <span class="error-text" ng-show="registerForm.login.$error.pattern">Login może zawierać tylko cyfry i litery</span>
                                <span class="error-text" ng-show="registerForm.login.$error.login">Podany login już istnieje</span>
                            </div><!-- /.input-wrapper-->

                            <!-- NAME -->
                            <div class="input-wrapper">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="name" ng-model="vm.user.name" ng-model-options="{updateOn: 'blur'}" ng-maxlength="10" ng-pattern="vm.nameRegExr" ng-trim="false" placeholder="Twoje imię" required>
                                    <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                                </div><!-- /.input-group-->

                                <span class="error-text" ng-show="registerForm.name.$error.required && registerForm.name.$touched">To pole nie może być puste</span>
                                <span class="error-text" ng-show="registerForm.name.$error.maxlength">Podadne imię jest za długie, maxymalna ilość znaków to 10</span>
                                <span class="error-text" ng-show="registerForm.name.$error.pattern">Imię musi zaczynać się od dużej litery, może zawierać jedynie znaki (,.-')</span>
                            </div><!-- /.input-wrapper-->

                            <!-- SURNAME -->
                            <div class="input-wrapper">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="surname" ng-model="vm.user.surname" ng-model-options="{updateOn: 'blur'}" ng-maxlength="20" ng-pattern="vm.nameRegExr" ng-trim="false" placeholder="Twoje Nazwisko" required>
                                    <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                                </div><!-- /.input-group-->

                                <span class="error-text" ng-show="registerForm.surname.$error.required && registerForm.surname.$touched">To pole nie może być puste</span>
                                <span class="error-text" ng-show="registerForm.surname.$error.maxlength">Podadne nazwiski jest za długie, maxymalna ilość znaków to 20</span>
                                <span class="error-text" ng-show="registerForm.surname.$error.pattern">Nazwisko musi zaczynać się od dużej litery, może zawierać jedynie znaki (,.-')</span>
                            </div><!-- /.input-wrapper-->

                            <!-- EMAIL -->
                            <div class="input-wrapper">
                                <div class="input-group">
                                    <input type="email" class="form-control" name="emial" ng-model="vm.user.mailAddress" ng-model-options="{updateOn: 'blur'}" ng-minlength="5" ng-maxlength="35" ng-trim="false" placeholder="Twój email" required>
                                    <span class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                                </div><!-- /.input-group-->

                                <span class="error-text" ng-show="registerForm.emial.$error.required && registerForm.emial.$touched">To pole nie może być puste</span>
                                <span class="error-text" ng-show="registerForm.emial.$error.email">Podany email ma błędną strukturę</span>
                            </div><!-- /.input-wrapper-->

                            <!-- PHONE NUMBER -->
                            <div class="input-wrapper">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="phoneNumber" ng-model="vm.user.phoneNumber" ng-model-options="{updateOn: 'blur'}" ng-pattern="vm.phoneRegExr" placeholder="Twój numer telefonu" required>
                                    <span class="input-group-addon"><i class="fa fa-phone" aria-hidden="true"></i></span>
                                </div><!-- /.input-group-->

                                <span class="error-text" ng-show="registerForm.phoneNumber.$error.required && registerForm.phoneNumber.$touched">To pole nie może być puste</span>
                                <span class="error-text" ng-show="registerForm.phoneNumber.$error.pattern">Numer musi skłać się z co najmniej 10-ciu znaków</span>
                            </div><!-- /.input-wrapper-->

                            <!-- PASSWORD -->
                            <div class="input-wrapper">
                                <div class="input-group">
                                    <input type="password" class="form-control" name="password" ng-model="vm.user.password" ng-model-options="{updateOn: 'blur'}" ng-minlength="8" ng-maxlength="20" placeholder="Podaj hasło" required>
                                    <span class="input-group-addon"><i class="fa fa-unlock-alt" aria-hidden="true"></i></span>
                                </div><!-- /.input-group-->

                                <span class="error-text" ng-show="registerForm.password.$error.required && registerForm.password.$touched">To pole nie może być puste</span>
                                <span class="error-text" ng-show="registerForm.password.$error.maxlength">Podadne hasło jest za długie, maxymalna ilość znaków to 20</span>
                                <span class="error-text" ng-show="registerForm.password.$error.minlength">Podane hasło jest za krótkie, minimalna ilość znaków to 8</span>
                            </div><!-- /.input-wrapper-->

                            <!-- PASSWORD CONFIRM-->
                            <div class="input-wrapper">
                                <div class="input-group">
                                    <input type="password" class="form-control" name="passconf" ng-model="vm.user.passconf" ng-model-options="{updateOn: 'blur'}" ng-minlength="8" ng-maxlength="20" placeholder="Powtórz hasło" passconf-validation="vm.user.password"  required>
                                    <span class="input-group-addon"><i class="fa fa-unlock-alt" aria-hidden="true"></i></span>
                                </div><!-- /.input-group-->

                                <span class="error-text" ng-show="registerForm.passconf.$error.required && registerForm.passconf.$touched">To pole nie może być puste</span>
                                <span class="error-text" ng-show="registerForm.passconf.$error.maxlength">Podadne hasło jest za długie, maxymalna ilość znaków to 20</span>
                                <span class="error-text" ng-show="registerForm.passconf.$error.minlength">Podane hasło jest za krótkie, minimalna ilość znaków to 8</span>
                                <span class="error-text" ng-show="registerForm.passconf.$error.password && registerForm.passconf.$touched">Podane hasła różnią się od siebie</span>
                            </div><!-- /.input-wrapper-->

                            <!-- DATE -->
                            <div class="input-wrapper">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <input type="date" class="form-control" name="birthDay" ng-model="birthDay" min="1900-01-01" placeholder="yyyy-MM-dd" required />
                                            <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                        </div><!-- /.input-group-->

                                        <span class="error-text" ng-show="registerForm.birthDay.$error.required && registerForm.birthDay.$touched">To pole nie może być puste</span>
                                        <span class="error-text" ng-show="registerForm.birthDay.$error.date">Podana data jest nieprawidłowa</span>
                                    </div><!-- /.registerError-->
                                </div><!-- /.registerError-->
                            </div><!-- /.input-wrapper-->

                            <button class="btn btn-1 btn-block" type="submit" ng-disabled="registerForm.$invalid" ng-click="vm.register()">Zarejestruj się</button>
                        </form><!-- /.registerError-->

                        <div class="alert" ng-show="vm.registerError">
                            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                            {{vm.errorMessage}}
                        </div><!-- /.registerError-->
                    </div><!-- /.col-md-6-->
                </div><!-- /.col-md-12-->
            </div><!-- /.row-->
        </div><!-- /.container-->
    </header><!-- /.logreg-header-->