<!-- User orders -->

    <section class="orders">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Zamówienia</h1>

                    <div ng-show="vm.orders.length == 0" class="alert" role="alert">
                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i> Brak dostępnych zamówień! Aby złożyć zamówienie <a ui-sref="main.home" class="alert-link"> kliknij tutaj!</a>
                    </div>

                    <div ng-show="vm.orders.length > 0" class="single-order" ng-repeat="order in  vm.orders  track by order.id">

                        <div class="panel">
                            <div class="panel-heading" ng-class="order.state == 'OPEN' ? 'open' : (order.state == 'IN_PROCESS' ? 'in-process' : 'finished')">
                                <span class="pull-left" ng-if="order.state == 'OPEN'">OCZEKUJE NA ZAAKCEPTOWANIE</span>
                                <span class="pull-left" ng-if="order.state == 'IN_PROCESS'">W TRAKCIE REALIZACJI</span>
                                <span class="pull-left" ng-if="order.state == 'FINISHED'">ZAKOŃCZONE</span>

                                <span class="pull-right">{{order.orderDate}}</span>
                                <div class="clearfix"></div>
                            </div>
                            <div class="panel-body">
                                <h3>Miejsce odbioru</h3>
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Miasto</th>
                                        <th>Ulica</th>
                                        <th>Kod pocztowy</th>
                                        <th>Numer domu</th>
                                        <th>Numer mieszkania</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    <tr>
                                        <td>{{order.source.city}}</td>
                                        <td>{{order.source.street}}</td>
                                        <td>{{order.source.postalCode}}</td>
                                        <td>{{order.source.homeNumber}}</td>
                                        <td>{{order.source.apartmentNumber}}</td>
                                    </tr>

                                    </tbody>
                                </table>

                                <hr>

                                <h3>Miejsce docelowe</h3>
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Miasto</th>
                                        <th>Ulica</th>
                                        <th>Kod pocztowy</th>
                                        <th>Numer domu</th>
                                        <th>Numer mieszkania</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>{{order.destination.city}}</td>
                                        <td>{{order.destination.street}}</td>
                                        <td>{{order.destination.postalCode}}</td>
                                        <td>{{order.destination.homeNumber}}</td>
                                        <td>{{order.destination.apartmentNumber}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div><!-- /.panel-body-->
                            <div class="panel-footer" ng-class="order.state == 'OPEN' ? 'open' : (order.state == 'IN_PROCESS' ? 'in-process' : 'finished')">
                                    <span class="pull-left" ng-if="order.distance !== 0">
                                        <span class="distance">Dystans: <strong>{{order.distance}}  km</strong></span>
                                    </span>

                                    <span class="pull-right">
                                        <span ng-if="order.serviceType == 1">Zlecenie Jednorazowe</span>
                                        <span ng-if="order.serviceType == 2">Zlecenie Stałe</span>
                                    </span>
                                    <div class="clearfix"></div>
                            </div>
                        </div><!-- /.panel -->
                    </div><!-- /.single-order -->
                </div><!-- /.col-md-12-->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section><!-- /.orders -->