<!--  Navigation -->

    <div class="navigation-user">
        <div class="over-navbar">
            <div class="container-fluid">
                <div class="email pull-right">
                    <span class="fa fa-phone-square" aria-hidden="true"></span> +48 37 35 4444
                </div>
                <div class="phone pull-right">
                    <span class="fa fa-envelope" aria-hidden="true"></span> taxisystem@strona.com
                </div>
            </div>
        </div>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" ui-sref="main.home">
                        <img src="./img/logo.png" alt="logo" class="pull-left">
                        <span class="logo-text pull-left">
                                <p><strong>Taxi</strong></p>
                                <p>System</p>
                            </span><!-- /.logo-text -->
                    </a><!-- /.navbar-brand -->
                </div><!-- /.navbar-header -->

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li ng-show="true" class="dropdown">
                            <a  ng-show="true"  class="dropdown-toggle pull-right" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{vm.currentUser.name + ' ' + vm.currentUser.surname}} <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li ui-sref-active="active" ng-if="vm.role == 'ADMIN'"><a ui-sref="user.adminUsers"><i class="fa fa-users" aria-hidden="true"></i>Użytkownicy</a></li>
                                <li ui-sref-active="active" ng-if="vm.role == 'USER'"><a ui-sref="main.home"><i class="fa fa-plus-square" aria-hidden="true"></i>Złóż zamówienie</a></li>
                                <li ui-sref-active="active" ng-if="vm.role == 'USER'"><a ui-sref="user.userOrders"><i class="fa fa-list-alt" aria-hidden="true"></i>Zamówienia</a></li>
                                <li ui-sref-active="active" ng-if="vm.role == 'CONSULTANT'"><a ui-sref="user.consultantOrders"><i class="fa fa-list-alt" aria-hidden="true"></i>Zamówienia</a></li>
                                <li ui-sref-active="active" ng-if="vm.role == 'DRIVER'"><a ui-sref="user.driverOrders"><i class="fa fa-list-alt" aria-hidden="true"></i>Zamówienia</a></li>

                                <li ui-sref-active="active"><a ui-sref="user.editProfile"><i class="fa fa-cogs" aria-hidden="true"></i>Ustawienia</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a ng-click="vm.logout()"><i class="fa fa-power-off" aria-hidden="true"></i>Wyloguj</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav><!-- /.navbar -->
    </div><!-- /.user-navigation -->

    <main ui-view></main>