/* Edit profile */

  .edit-profile {
    margin: 40px 0;

    h1 {
      margin-bottom: 40px;
    }

    .input-group {
      margin-bottom: 15px;

      ::-webkit-calendar-picker-indicator { background: $transparent; }

      .form-control, .input-group-addon {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        border: 1px solid $bg-dark;
        background-color: $bg-light ;
        color: $bg-dark;
        box-shadow: none;
        height: 40px;
        padding: 6px 12px;

      }//.form-control, .input-group-addon


      .input-group-addon {
        border-left: none;
      }

      .form-control {
        border-right: none;
        transition: all 0.4s;

        &:focus {
          outline: 0;
          background:  $bg-dark;
          color: $bg-gray;
          line-height: 40px;
        }
      }//.form-control

      i {
        color: $bg-dark;
        font-size: 18px;
      }
    }//.input-group
  }//.edit-profile