/* Navigation user*/

  .navigation-user{
    background-color: $bg-dark;

    .over-navbar {
      font-size: $base-size *1.07;
      color: #b0afaf;
      border-bottom: 1px dashed #acacac;
      height: 35px;
      letter-spacing: 1px;
      padding-right: 10px;
      padding-top: 5px;

      i {
        margin: 10px 5px 10px 20px;
      }

      .phone {
        margin-right: 20px;
      }
    }//.over-navbar

    .navbar {
      border: none !important;
      background-color: $transparent;
      height: 80px;
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
       border-radius: 0 !important;

      .navbar-brand {
        text-transform: uppercase;
        padding: 15px;

        img {
            width: 50px;
            height: 50px;
        }

        .logo-text {
          margin-top: 10px;
          margin-left: 5px;
          color: $bg-light;
          line-height: 17px;

          p {
            margin: 0;
              strong {
                color: $theme-color;
              }
          }//p
        }//.logo-text
      }//.navbar-brand

      .navbar-collapse {
        ul {
          .dropdown {
            a {
              color: $bg-light;
              padding: 0;
              margin: 25px 15px;
              line-height: 30px;
              text-transform: uppercase;

              &:focus {
                outline: 0;
              }

              &:hover {
                color: $theme-color;
                border: none;
                cursor: pointer !important;

                span {
                  color: $theme-color ;
                }

              }//:hover
            }//a

            ul {
              background-color: $bg-dark;
              border-radius: 0;
              top: 99%;
              padding: 0;

              li {
                a {
                  padding: 5px 20px;
                  margin: 0;
                  color: $bg-light;

                  i {
                   padding-right: 10px;
                  }
                }//a

                &:hover {
                  background-color: $theme-color;

                  a {
                    color: $bg-dark;
                    border: none;
                  }
                }//:hover
              }//li
              .divider {
                margin: 0;
                background-color: lighten($bg-dark, 30%);

                &:hover {
                  background-color:  lighten($bg-dark, 30%);
                }
              }//.driver
            }//ul
          }//.dropdown

          .open {
            a {
              background-color: $transparent;
              color: $theme-color;

              span {
                color: $theme-color;
              }
            }//a
          }//.open
        }//ul
      }//.navbar-collapse
    }//.navbar
  }//.navigation-main