/* Navigation main */

  .navigation-main{
    position: absolute;
    z-index: 999;
    width: 100%;

    .over-navbar {
      font-size: $base-size *1.07;
      color: #b0afaf;
      border-bottom: 1px dashed #acacac;
      height: 35px;
      letter-spacing: 1px;
      padding-right: 10px;
      padding-top: 5px;

      i {
        margin: 10px 5px 10px 20px;
      }

      .phone {
        margin-right: 20px;
      }
    }//.over-navbar

    .navbar {
      border: none !important;
      background-color: $transparent;
      height: 80px;

      .navbar-brand {
        text-transform: uppercase;
        padding: 15px;

        img {
            width: 50px;
            height: 50px;
        }

        .logo-text {
          margin-top: 10px;
          margin-left: 5px;
          color: $bg-light;
          line-height: 17px;

          p {
            margin: 0;
              strong {
                color: $theme-color;
              }
          }//p
        }//.logo-text
      }//.navbar-brand

      .navbar-collapse {
        ul {
          margin: 25px 0;

          li {
            span  {
              line-height: 40px;
              color: $bg-light;
            }

            a {
              text-transform: uppercase;
              color: $bg-light;
              padding: 5px 0 0 0;
              margin: 0 15px;
              line-height: 30px;
              transition: all 0.2s;

              &:hover {
                border-bottom: 1px solid $theme-color;
              }

              &:focus {
                outline: 0;
              }
            }//a

            .login {
              color: $bg-light;

              &:hover {
                border-color: $bg-light;
              }
            }//.login

            .register {
              color: $theme-color;

                &:hover {
                  border-color: $theme-color;
                }
            }//.register
          }//li

          .active {
            .login {
              background-color: $transparent;
              border-bottom: 1px solid $bg-light;

              &:hover {
                border-color: $bg-light;
              }
            }//.login

            .register {
              background-color: $transparent;
              border-bottom: 1px solid $theme-color;

              &:hover {
                border-color: $theme-color;
              }
            }//.login
          }//.active

          .dropdown {
            a {
              cursor: pointer;
              margin: 0;
              padding: 5px 20px;
              transition: all 0.2s;

              span {
                transition: all 0.2s;
              }

              &:hover {
                background-color: $bg-light;
                color: $bg-dark;
                border: 0;

                span {
                  color: $bg-dark;
                }
              }//:hover
            }//a

            ul {
              background-color: rgba(0,0,0, 0.5);
              border: 1px solid darken($bg-gray, 30%);
              border-radius: 0;
              top: 60%;
              padding: 0;

              li {
                transition: all 0.2s;

                a {
                  padding: 5px 20px;
                  margin: 0;
                  color: $bg-gray;

                  i {
                   padding-right: 10px;
                  }
                }//a

                &:hover {
                  a {
                    background-color: $theme-color;
                    color: $bg-dark;
                    border: none;
                  }
                }//:hover
              }//li

              .divider {
                margin: 0;
                background-color: darken($bg-gray, 30%);
              }//.driver
            }//ul
          }//.dropdown

          .open {
            .dropdown-toggle {
              background-color: $bg-light;
              color: $bg-dark;

              span {
                color: $bg-dark;
              }

              &:hover {
                border: none;
              }
            }//a
          }//.open
        }//ul
      }//.navbar-collapse
    }//.navbar
  }//.navigation-main