/* Typography */

  body,html {
    width: 100%;
    height: 100%;
    font-size: $base-size;
    font-family: 'Palanquin', sans-serif;
    font-weight: normal;
    overflow-x: hidden;
    position: relative;
  }

  h1, h2, h3, h4 {
    text-transform: uppercase;
    letter-spacing: 1.4px;
  }

  h1 {
    font-size: $h1-size;
    line-height: $h1-size*1.3;
    margin: 30px 0;
  }

  h2 {
    font-size: $h2-size;
    margin-bottom: 15px;
    margin-top: 40px;
  }

  h3 {
    font-size: $h3-size;
    margin: 20px 0;
  }

  p {
    font-size: $base-size;
    letter-spacing: 1.3px;
  }

  a {
    letter-spacing: 1.5px;
  }

  .clearfix {
    clear: both !important;
  }

  .center-block {
    float: none;
  }

  .btn {
    letter-spacing: 1.5px;
    box-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    line-height: 20px;
    text-transform: uppercase !important;

    &:focus{
      outline: 0 !important;
    }
  }

  .btn-1 {
    background-color: $theme-color !important;
    color: $bg-dark !important;
    font-weight: bold;
    border: 0;
    opacity: 0.7;
    -webkit-backface-visibility: hidden;
    transition: all 0.2s;

    &:hover {
      opacity: 1;
    }
  }//.btn-1

  .btn-3 {
    background-color: $bg-dark !important;
    color: $bg-light !important;
    border: 1px solid $bg-dark;
    margin-right: 10px;
    transition: all 0.2s;

    &:hover {
      background-color: $theme-color !important;
      border: 1px solid $theme-color;
      color: $bg-dark !important;
    }

    &:disabled {
      background-color: $bg-light !important;
      color: $bg-dark !important;
      border: 1px solid $bg-dark;
    }
  }//.btn-3

  /* Ng-Animate styles */
  main {
    height: 100%;
    /* start 'enter' transition */
    &.ng-enter {
      /* transition on enter for .5s */
      transition: 0.5s;

      /* start with opacity 0 (invisible) */
      opacity: 0;
    }

    /* end 'enter' transition */
    &.ng-enter-active {
      /* end with opacity 1 (fade in) */
      opacity: 1;
    }
  }//main