<!-- Home page -->

    <!-- Header -->
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <form class="order-form" name="orderForm" ng-submit="vm.sendOrder()" autocomplete="off" novalidate>

                            <h3>Gdzie chcesz dotrzeć?</h3>
                            <!-- City -->
                            <div class="input-group">
                                <input type="text" title="destinationCity" class="form-control" ng-model="vm.order.destination.city" placeholder="Miasto">
                                <span class="input-group-addon"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                            </div>

                            <!-- Postal code -->
                            <div class="input-group">
                                <input type="text" title="destinationPostalCode" class="form-control" ng-model="vm.order.destination.postalCode" placeholder="Kod Pocztowy">
                                <span class="input-group-addon"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                            </div>

                            <!-- Street -->
                            <div class="input-group">
                                <input type="text" title="destinationStreet" class="form-control" ng-model="vm.order.destination.street" placeholder="Ulica">
                                <span class="input-group-addon"><i class="fa fa-road" aria-hidden="true"></i></span>
                            </div>

                            <!-- Home number -->
                            <div class="input-group">
                                <input type="text" title="destinationHomeNumber" class="form-control" ng-model="vm.order.destination.homeNumber" placeholder="Numer domu">
                                <span class="input-group-addon"><i class="fa fa-home" aria-hidden="true"></i></span>
                            </div>

                            <!-- Apartment Number -->
                            <div class="input-group">
                                <input type="text" title="destinationApartmentNumber" class="form-control" ng-model="vm.order.destination.apartmentNumber" placeholder="Numer mieszkania">
                                <span class="input-group-addon"><i class="fa fa-home" aria-hidden="true"></i></span>
                            </div>

                            <h3>Gdzie jesteś?</h3>
                            <!-- City -->
                            <div class="input-group">
                                <input type="text" title="sourceCity" class="form-control" ng-model="vm.order.source.city" placeholder="Miasto">
                                <span class="input-group-addon"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                            </div>

                            <!-- Postal code -->
                            <div class="input-group">
                                <input type="text" title="sourcePostalCode" class="form-control" ng-model="vm.order.source.postalCode" placeholder="Kod Pocztowy">
                                <span class="input-group-addon"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                            </div>

                            <!-- Street -->
                            <div class="input-group">
                                <input type="text" title="sourceStreet" class="form-control" ng-model="vm.order.source.street" placeholder="Ulica">
                                <span class="input-group-addon"><i class="fa fa-road" aria-hidden="true"></i></span>
                            </div>

                            <!-- Home number -->
                            <div class="input-group">
                                <input type="text" title="sourceHomeNumber" class="form-control" ng-model="vm.order.source.homeNumber" placeholder="Numer domu">
                                <span class="input-group-addon"><i class="fa fa-home" aria-hidden="true"></i></span>
                            </div>

                            <!-- Apartment number -->
                            <div class="input-group">
                                <input type="text" title="sourceApartmentNumber" class="form-control" ng-model="vm.order.source.apartmentNumber" placeholder="Numer mieszkania">
                                <span class="input-group-addon"><i class="fa fa-home" aria-hidden="true"></i></span>
                            </div>

                            <!-- Kind of order -->
                            <h3 ng-show="vm.isLoggedIn">Rodzaj zlecenia</h3>
                            <ul ng-show="vm.isLoggedIn" ng-repeat="service in vm.services">
                                <li>
                                    <input type="radio" id="{{service.id}}" name="option"ng-checked="vm.checked" ng-click="vm.selectService(service.id)">
                                    <label for="{{service.id}}">{{service.name}}</label>
                                    <div class="check"><div class="inside"></div></div>
                                </li>
                            </ul>

                            <div class="tooltip-wrapper" ng-if="!vm.isLoggedIn" uib-tooltip="Aby złożyć zamówienie musisz być zalogowanym użytkownikiem"  tooltip-placement="bottom">
                                <button class="btn btn-1 btn-block" disabled>Złóż zamówienie</button>
                            </div>

                            <button class="btn btn-1 btn-block" ng-if="vm.isLoggedIn" type="submit">Złóż zamówienie</button>
                        </form>
                    </div><!-- /.col-md-5 -->

                    <div class="col-md-4">
                        <div class="order-alerts">
                            <div class="alert" ng-show="vm.orderSuccess">
                                <i class="fa fa-check" aria-hidden="true"></i>
                                {{vm.orderSuccessMsg}}
                            </div>

                            <div class="alert" ng-show="vm.orderError">
                                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                                {{vm.orderErrorMsg}}
                            </div>
                        </div><!-- /.order-alerts -->
                    </div><!-- /.col-md-4 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </header>

    <!-- Special services -->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <section class="special-services">

                        <h1>Usługi secjalne</h1>

                        <div class="row">
                            <div class="col-md-3">
                                <article class="text-center">
                                    <div class="icon-bg"><i class="fa fa-wheelchair" aria-hidden="true"></i></div>
                                    <h3>Transport osób niepełnosprawnych.</h3>

                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi asperiores consequuntur cupiditate error est ipsam iste nam omnis quo temporibus?</p>
                                </article>
                            </div><!-- /.col-md-3 -->

                            <div class="col-md-3">
                                <article class="text-center">
                                    <div class="icon-bg"><i class="fa fa-heart" aria-hidden="true"></i></div>
                                    <h3>Bezpieczny transport dzieci</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi asperiores consequuntur cupiditate error est ipsam iste nam omnis quo temporibus?</p>
                                </article>
                            </div><!-- /.col-md-3 -->

                            <div class="col-md-3">
                                <article class="text-center">
                                    <div class="icon-bg"><i class="fa fa-paw" aria-hidden="true"></i></div>
                                    <h3>Transport zwierząt</h3>
                                    <br>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi asperiores consequuntur cupiditate error est ipsam iste nam omnis quo temporibus?</p>
                                </article>
                            </div><!-- /.col-md-3 -->

                            <div class="col-md-3">
                                <article class="text-center">
                                    <div class="icon-bg"><i class="fa fa-dropbox" aria-hidden="true"></i></div>
                                    <h3>Usługi kurierskie</h3>
                                    <br>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi asperiores consequuntur cupiditate error est ipsam iste nam omnis quo temporibus?</p>
                                </article>
                            </div><!-- /.col-md-3 -->
                        </div><!-- /.row -->
                    </section><!-- /.special-services -->
                </div><!-- /.col-md-12 -->
            </div><!-- /.row -->
        </div><!-- /.container -->

    <!-- Our clients -->
        <section class="our-cliets">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Nasi klienci</h1>
                    </div><!-- /.col-md-12 -->
                </div><!-- /.row -->
            </div><!-- /.container -->

            <div class="our-clients-bg">
                <div class="container">
                    <div class="clients-logos">
                        <div class="row">
                            <div class="col-md-3 text-center">
                                <img src="./img/uroczysko.png" alt="uroczysko" style="margin-top: 25px;">
                            </div>
                            <div class="col-md-3 text-center">
                                <img src="./img/qubus.png" alt="qubus">
                            </div>
                            <div class="col-md-3 text-center">
                                <img src="./img/ibis.png" alt="ibis">
                            </div>
                            <div class="col-md-3 text-center">
                                <img src="./img/grand.png" alt="grand" >
                            </div>
                        </div><!-- /.row -->
                    </div><!-- /.clients-logos -->
                </div><!-- /.container -->
            </div><!-- /.our-clients-bg -->
        </section><!-- /.our-clients -->

    <!-- Map -->
        <section class="map">
            <map id="googleMap"></map>
            <div class="map-label pull-left">
               <h1>Transport na terenie całych kielc</h1>
           </div><!-- /.map-label -->
        </section><!-- /.map -->

    <!-- Footer -->
        <footer>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                            <p class="pull-right">Copyright 2017 (C) <span>TROYANOWSKI DESIGN</span> & <span>DOMINIK WOJCIECHOWSKI</span> & <span>ADAM SABAT</span></p>
                    </div><!-- /.col-md-12 -->
               </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </footer>